In [4]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [25]:
url = 'https://www.news18.com/cricketnext/ipl-auction-2023/'

In [35]:
initial=pd.read_html(url)
initial

[    #          Player | Squad  Base Price          TYPE  COST IN ₹ (CR.)  \
 0   1       Sam Curran | PBKS    20000000   ALL-ROUNDER            18.50
 1   2      Cameron Green | MI    20000000   ALL-ROUNDER            17.50
 2   3        Ben Stokes | CSK    20000000   ALL-ROUNDER            16.25
 3   4   Nicholas Pooran | LSG    20000000  WICKETKEEPER            16.00
 4   5       Harry Brook | SRH    15000000       BATSMAN            13.25
 5   6    Mayank Agarwal | SRH    10000000       BATSMAN             8.25
 6   7        Shivam Mavi | GT     4000000        BOWLER             6.00
 7   8       Jason Holder | RR    20000000   ALL-ROUNDER             5.75
 8   9       Mukesh Kumar | DC     2000000        BOWLER             5.50
 9  10  Heinrich Klaasen | SRH    10000000  WICKETKEEPER             5.25

    Cost IN $ (000) 2022 Squad
 0             2220        NaN
 1             2100        NaN
 2             1950        NaN
 3             1920        SRH
 4             1590        NaN
 5              990       PBKS
 6              720        KKR
 7              690        LSG
 8              660        NaN
 9              630        NaN  ,
           2023 Squad GT Base Price          TYPE  COST IN ₹ (CR.)  \
 0           Shivam Mavi    4000000        BOWLER              6.0
 1         Joshua Little    5000000        BOWLER              4.4
 2       Kane Williamson   20000000       BATSMAN              2.0
 3           K.S. Bharat    2000000  WICKETKEEPER              1.2
 4          Mohit Sharma    5000000        BOWLER              0.5
 5           Odean Smith    5000000   ALL-ROUNDER              0.5
 6           Urvil Patel    2000000  WICKETKEEPER              0.2
 7         Rahul Tewatia   Retained   ALL-ROUNDER              0.0
 8       Pradeep Sangwan   Retained   ALL-ROUNDER              0.0
 9           Rashid Khan   Retained        BOWLER              0.0
 10       R. Sai Kishore   Retained        BOWLER              0.0
 11           Yash Dayal   Retained        BOWLER              0.0
 12           Noor Ahmad   Retained        BOWLER              0.0
 13      Wriddhiman Saha   Retained  WICKETKEEPER              0.0
 14        Vijay Shankar   Retained   ALL-ROUNDER              0.0
 15         Shubman Gill   Retained       BATSMAN              0.0
 16        Hardik Pandya   Retained   ALL-ROUNDER              0.0
 17     B. Sai Sudharsan   Retained   ALL-ROUNDER              0.0
 18       Alzarri Joseph   Retained        BOWLER              0.0
 19  Abhinav Sadarangani   Retained       BATSMAN              0.0
 20     Darshan Nalkande   Retained   ALL-ROUNDER              0.0
 21         David Miller   Retained       BATSMAN              0.0
 22         Matthew Wade   Retained  WICKETKEEPER              0.0
 23         Jayant Yadav   Retained   ALL-ROUNDER              0.0
 24       Mohammad Shami   Retained        BOWLER              0.0

     Cost IN $ (000) 2022 Squad
 0               720        KKR
 1               528        NaN
 2               240        SRH
 3               144         DC
 4                60        NaN
 5                60       PBKS
 6                24        NaN
 7                 0         GT
 8                 0         GT
 9                 0         GT
 10                0         GT
 11                0         GT
 12                0         GT
 13                0         GT
 14                0         GT
 15                0         GT
 16                0         GT
 17                0         GT
 18                0         GT
 19                0         GT
 20                0         GT
 21                0         GT
 22                0         GT
 23                0         GT
 24                0         GT  ,
             2023 Squad CSK Base Price          TYPE  COST IN ₹ (CR.)  \
 0               Ben Stokes   20000000   ALL-ROUNDER            16.25
 1            Kyle Jamieson   10000000        BOWLER             1.00
 2           Nishant Sindhu    2000000   ALL-ROUNDER             0.60
 3           Ajinkya Rahane    5000000       BATSMAN             0.50
 4            Bhagath Varma    2000000   ALL-ROUNDER             0.20
 5              Ajay Mandal    2000000   ALL-ROUNDER             0.20
 6            Shaik Rasheed    2000000       BATSMAN             0.20
 7          Ravindra Jadeja   Retained   ALL-ROUNDER             0.00
 8   Rajvardhan Hangargekar   Retained   ALL-ROUNDER             0.00
 9         Prashant Solanki   Retained        BOWLER             0.00
 10         Ruturaj Gaikwad   Retained       BATSMAN             0.00
 11        Tushar Deshpande   Retained        BOWLER             0.00
 12        Mukesh Choudhary   Retained        BOWLER             0.00
 13     Subhranshu Senapati   Retained       BATSMAN             0.00
 14         Simarjeet Singh   Retained        BOWLER             0.00
 15             Shivam Dube   Retained   ALL-ROUNDER             0.00
 16     Matheesha Pathirana   Retained        BOWLER             0.00
 17            Devon Conway   Retained       BATSMAN             0.00
 18           Deepak Chahar   Retained        BOWLER             0.00
 19           Ambati Rayudu   Retained       BATSMAN             0.00
 20        Dwaine Pretorius   Retained   ALL-ROUNDER             0.00
 21      Maheesh Theekshana   Retained        BOWLER             0.00
 22               Moeen Ali   Retained   ALL-ROUNDER             0.00
 23        Mitchell Santner   Retained   ALL-ROUNDER             0.00
 24                MS Dhoni   Retained  WICKETKEEPER             0.00

     Cost IN $ (000) 2022 Squad
 0              1950        NaN
 1               120        NaN
 2                72        NaN
 3                60        KKR
 4                24        CSK
 5                24        NaN
 6                24        NaN
 7                 0        CSK
 8                 0        CSK
 9                 0        CSK
 10                0        CSK
 11                0        CSK
 12                0        CSK
 13                0        CSK
 14                0        CSK
 15                0        CSK
 16                0        CSK
 17                0        CSK
 18                0        CSK
 19                0        CSK
 20                0        CSK
 21                0        CSK
 22                0        CSK
 23                0        CSK
 24                0        CSK  ,
          2023 Squad DC Base Price          TYPE  COST IN ₹ (CR.)  \
 0         Mukesh Kumar    2000000        BOWLER              5.5
 1        Rilee Rossouw   20000000       BATSMAN              4.6
 2        Manish Pandey   10000000       BATSMAN              2.4
 3            Phil Salt   20000000  WICKETKEEPER              2.0
 4        Ishant Sharma    5000000        BOWLER              0.5
 5          Ripal Patel   Retained   ALL-ROUNDER              0.0
 6         Pravin Dubey   Retained   ALL-ROUNDER              0.0
 7         Rishabh Pant   Retained  WICKETKEEPER              0.0
 8         Prithvi Shaw   Retained       BATSMAN              0.0
 9   Syed Khaleel Ahmed   Retained        BOWLER              0.0
 10          Yash Dhull   Retained   ALL-ROUNDER              0.0
 11        Vicky Ostwal   Retained   ALL-ROUNDER              0.0
 12   Mustafizur Rahman   Retained        BOWLER              0.0
 13       Sarfaraz Khan   Retained   ALL-ROUNDER              0.0
 14       Rovman Powell   Retained       BATSMAN              0.0
 15         Lalit Yadav   Retained   ALL-ROUNDER              0.0
 16          Axar Patel   Retained   ALL-ROUNDER              0.0
 17       Anrich Nortje   Retained        BOWLER              0.0
 18       Aman Khan (T)   Retained   ALL-ROUNDER              0.0
 19     Chetan Sakariya   Retained        BOWLER              0.0
 20        David Warner   Retained       BATSMAN              0.0
 21     Lungisani Ngidi   Retained        BOWLER              0.0
 22       Kuldeep Yadav   Retained        BOWLER              0.0
 23   Kamlesh Nagarkoti   Retained   ALL-ROUNDER              0.0
 24      Mitchell Marsh   Retained   ALL-ROUNDER              0.0

     Cost IN $ (000) 2022 Squad
 0               660        NaN
 1               552        NaN
 2               288        LSG
 3               240        NaN
 4                60        NaN
 5                 0         DC
 6                 0         DC
 7                 0         DC
 8                 0         DC
 9                 0         DC
 10                0         DC
 11                0         DC
 12                0         DC
 13                0         DC
 14                0         DC
 15                0         DC
 16                0         DC
 17                0         DC
 18                0         DC
 19                0         DC
 20                0         DC
 21                0         DC
 22                0         DC
 23                0         DC
 24                0         DC  ,
             2023 Squad KKR Base Price          TYPE  COST IN ₹ (CR.)  \
 0          Shakib Al Hasan    1500000   ALL-ROUNDER              1.5
 1              David Wiese   10000000   ALL-ROUNDER              1.0
 2            N. Jagadeesan    2000000  WICKETKEEPER              0.9
 3            Vaibhav Arora    2000000        BOWLER              0.6
 4               Litton Das    5000000  WICKETKEEPER              0.5
 5            Mandeep Singh    5000000       BATSMAN              0.5
 6       Kulwant Khejroliya    2000000        BOWLER              0.2
 7            Suyash Sharma    2000000        BOWLER              0.2
 8             Sunil Narine   Retained        BOWLER              0.0
 9             Shreyas Iyer   Retained       BATSMAN              0.0
 10             Tim Southee   Retained        BOWLER              0.0
 11             Umesh Yadav   Retained        BOWLER              0.0
 12     Varun Chakaravarthy   Retained        BOWLER              0.0
 13      Shardul Thakur (T)   Retained        BOWLER              0.0
 14          Venkatesh Iyer   Retained   ALL-ROUNDER              0.0
 15            Harshit Rana   Retained        BOWLER              0.0
 16              Anukul Roy   Retained   ALL-ROUNDER              0.0
 17           Andre Russell   Retained   ALL-ROUNDER              0.0
 18     Lockie Ferguson (T)   Retained        BOWLER              0.0
 19             Nitish Rana   Retained   ALL-ROUNDER              0.0
 20  Rahmanullah Gurbaz (T)   Retained  WICKETKEEPER              0.0
 21             Rinku Singh   Retained       BATSMAN              0.0

     Cost IN $ (000) 2022 Squad
 0               180        NaN
 1               120        NaN
 2               108        CSK
 3                72       PBKS
 4                60        NaN
 5                60         DC
 6                24        NaN
 7                24        NaN
 8                 0        KKR
 9                 0        KKR
 10                0        KKR
 11                0        KKR
 12                0        KKR
 13                0        KKR
 14                0        KKR
 15                0        KKR
 16                0        KKR
 17                0        KKR
 18                0        KKR
 19                0        KKR
 20                0        KKR
 21                0        KKR  ,
         2023 Squad PBKS Base Price          TYPE  COST IN ₹ (CR.)  \
 0            Sam Curran   20000000   ALL-ROUNDER             18.5
 1         Sikandar Raza    5000000   ALL-ROUNDER              0.5
 2       Harpreet Bhatia    2000000       BATSMAN              0.4
 3          Mohit Rathee    2000000   ALL-ROUNDER              0.2
 4     Vidwath Kaverappa    2000000        BOWLER              0.2
 5          Shivam Singh    5000000  WICKETKEEPER              0.2
 6      Liam Livingstone   Retained   ALL-ROUNDER              0.0
 7   Baltej Singh Dhanda   Retained        BOWLER              0.0
 8         Atharva Taide   Retained   ALL-ROUNDER              0.0
 9     Bhanuka Rajapakse   Retained       BATSMAN              0.0
 10        Jitesh Sharma   Retained  WICKETKEEPER              0.0
 11         Nathan Ellis   Retained        BOWLER              0.0
 12       Jonny Bairstow   Retained  WICKETKEEPER              0.0
 13        Kagiso Rabada   Retained        BOWLER              0.0
 14        Harpreet Brar   Retained   ALL-ROUNDER              0.0
 15        Shahrukh Khan   Retained   ALL-ROUNDER              0.0
 16       Shikhar Dhawan   Retained       BATSMAN              0.0
 17         Rahul Chahar   Retained        BOWLER              0.0
 18       Arshdeep Singh   Retained        BOWLER              0.0
 19    Prabhsimran Singh   Retained  WICKETKEEPER              0.0
 20       Raj Angad Bawa   Retained   ALL-ROUNDER              0.0
 21         Rishi Dhawan   Retained   ALL-ROUNDER              0.0

     Cost IN $ (000) 2022 Squad
 0              2220        NaN
 1                60        NaN
 2                48        NaN
 3                24        NaN
 4                24        NaN
 5                24        NaN
 6                 0       PBKS
 7                 0       PBKS
 8                 0       PBKS
 9                 0       PBKS
 10                0       PBKS
 11                0       PBKS
 12                0       PBKS
 13                0       PBKS
 14                0       PBKS
 15                0       PBKS
 16                0       PBKS
 17                0       PBKS
 18                0       PBKS
 19                0       PBKS
 20                0       PBKS
 21                0       PBKS  ,
       2023 Squad LSG Base Price          TYPE  COST IN ₹ (CR.)  \
 0    Nicholas Pooran   20000000  WICKETKEEPER            16.00
 1        Daniel Sams    7500000   ALL-ROUNDER             0.75
 2     Jaydev Unadkat    5000000        BOWLER             0.50
 3      Naveen Ul Haq    5000000        BOWLER             0.50
 4        Amit Mishra    5000000        BOWLER             0.50
 5   Romario Shepherd    5000000   ALL-ROUNDER             0.50
 6        Yash Thakur    2000000        BOWLER             0.45
 7      Swapnil Singh    2000000   ALL-ROUNDER             0.20
 8     Yudhvir Charak    2000000   ALL-ROUNDER             0.20
 9      Prerak Mankad    2000000   ALL-ROUNDER             0.20
 10         Mark Wood   Retained        BOWLER             0.00
 11    Marcus Stoinis   Retained   ALL-ROUNDER             0.00
 12      Mayank Yadav   Retained        BOWLER             0.00
 13       Mohsin Khan   Retained        BOWLER             0.00
 14   Quinton De Kock   Retained  WICKETKEEPER             0.00
 15       Manan Vohra   Retained       BATSMAN             0.00
 16      Ravi Bishnoi   Retained        BOWLER             0.00
 17      Deepak Hooda   Retained   ALL-ROUNDER             0.00
 18      Ayush Badoni   Retained   ALL-ROUNDER             0.00
 19        Avesh Khan   Retained        BOWLER             0.00
 20        K. Gowtham   Retained   ALL-ROUNDER             0.00
 21      Karan Sharma   Retained   ALL-ROUNDER             0.00
 22     Krunal Pandya   Retained   ALL-ROUNDER             0.00
 23          KL Rahul   Retained       BATSMAN             0.00
 24       Kyle Mayers   Retained   ALL-ROUNDER             0.00

     Cost IN $ (000) 2022 Squad
 0              1920        SRH
 1                90         MI
 2                60         MI
 3                60        NaN
 4                60        NaN
 5                60        SRH
 6                54        NaN
 7                24        NaN
 8                24        NaN
 9                24       PBKS
 10                0        LSG
 11                0        LSG
 12                0        LSG
 13                0        LSG
 14                0        LSG
 15                0        LSG
 16                0        LSG
 17                0        LSG
 18                0        LSG
 19                0        LSG
 20                0        LSG
 21                0        LSG
 22                0        LSG
 23                0        LSG
 24                0        LSG  ,
             2023 Squad MI Base Price          TYPE  COST IN ₹ (CR.)  \
 0           Cameron Green   20000000   ALL-ROUNDER             17.5
 1         Jhye Richardson    1500000        BOWLER              1.5
 2           Piyush Chawla    5000000        BOWLER              0.5
 3            Raghav Goyal    2000000        BOWLER              0.2
 4            Shams Mulani    2000000   ALL-ROUNDER              0.2
 5           Nehal Wadhera    2000000   ALL-ROUNDER              0.2
 6            Vishnu Vinod    2000000  WICKETKEEPER              0.2
 7             Duan Jansen    2000000   ALL-ROUNDER              0.2
 8         Ramandeep Singh   Retained   ALL-ROUNDER              0.0
 9          N. Tilak Varma   Retained   ALL-ROUNDER              0.0
 10      Mohd. Arshad Khan   Retained   ALL-ROUNDER              0.0
 11           Rohit Sharma   Retained       BATSMAN              0.0
 12       Suryakumar Yadav   Retained       BATSMAN              0.0
 13  Kumar Kartikeya Singh   Retained   ALL-ROUNDER              0.0
 14        Tristan Stubbs*   Retained  WICKETKEEPER              0.0
 15              Tim David   Retained   ALL-ROUNDER              0.0
 16        Hrithik Shokeen   Retained   ALL-ROUNDER              0.0
 17        Arjun Tendulkar   Retained   ALL-ROUNDER              0.0
 18          Akash Madhwal   Retained        BOWLER              0.0
 19          Dewald Brevis   Retained       BATSMAN              0.0
 20           Ishan Kishan   Retained  WICKETKEEPER              0.0
 21         Jasprit Bumrah   Retained        BOWLER              0.0
 22  Jason Behrendorff (T)   Retained        BOWLER              0.0
 23           Jofra Archer   Retained   ALL-ROUNDER              0.0

     Cost IN $ (000) 2022 Squad
 0              2100        NaN
 1               180        NaN
 2                60        NaN
 3                24        NaN
 4                24        NaN
 5                24        NaN
 6                24        SRH
 7                24        NaN
 8                 0         MI
 9                 0         MI
 10                0         MI
 11                0         MI
 12                0         MI
 13                0         MI
 14                0         MI
 15                0         MI
 16                0         MI
 17                0         MI
 18                0         MI
 19                0         MI
 20                0         MI
 21                0         MI
 22                0         MI
 23                0         MI  ,
          2023 Squad RCB Base Price          TYPE  COST IN ₹ (CR.)  \
 0            Will Jacks    1500000       BATSMAN              3.2
 1          Reece Topley    7500000        BOWLER              1.9
 2           Rajan Kumar    2000000        BOWLER              0.7
 3         Avinash Singh    2000000        BOWLER              0.6
 4        Manoj Bhandage    2000000   ALL-ROUNDER              0.2
 5            Sonu Yadav    2000000   ALL-ROUNDER              0.2
 6       Himanshu Sharma    2000000        BOWLER              0.2
 7         Rajat Patidar   Retained       BATSMAN              0.0
 8        Mahipal Lomror   Retained        BOWLER              0.0
 9        Shahbaz Ahamad   Retained   ALL-ROUNDER              0.0
 10       Mohammed Siraj   Retained        BOWLER              0.0
 11    Wanindu Hasaranga   Retained   ALL-ROUNDER              0.0
 12          Karn Sharma   Retained        BOWLER              0.0
 13          Virat Kohli   Retained       BATSMAN              0.0
 14  Suyash Prabhudessai   Retained   ALL-ROUNDER              0.0
 15       Siddharth Kaul   Retained        BOWLER              0.0
 16           Finn Allen   Retained       BATSMAN              0.0
 17         David Willey   Retained   ALL-ROUNDER              0.0
 18           Anuj Rawat   Retained  WICKETKEEPER              0.0

Creating Gujarat Titans Dataframe

In [36]:
initial[1]

,2023 Squad GT,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2022 Squad
0,Shivam Mavi,4000000,BOWLER,6.0,720,KKR
1,Joshua Little,5000000,BOWLER,4.4,528,NaN
2,Kane Williamson,20000000,BATSMAN,2.0,240,SRH
3,K.S. Bharat,2000000,WICKETKEEPER,1.2,144,DC
4,Mohit Sharma,5000000,BOWLER,0.5,60,NaN
5,Odean Smith,5000000,ALL-ROUNDER,0.5,60,PBKS
6,Urvil Patel,2000000,WICKETKEEPER,0.2,24,NaN
7,Rahul Tewatia,Retained,ALL-ROUNDER,0.0,0,GT
8,Pradeep Sangwan,Retained,ALL-ROUNDER,0.0,0,GT
9,Rashid Khan,Retained,BOWLER,0.0,0,GT
10,R. Sai Kishore,Retained,BOWLER,0.0,0,GT
11,Yash Dayal,Retained,BOWLER,0.0,0,GT
12,Noor Ahmad,Retained,BOWLER,0.0,0,GT
13,Wriddhiman Saha,Retained,WICKETKEEPER,0.0,0,GT
14,Vijay Shankar,Retained,ALL-ROUNDER,0.0,0,GT
15,Shubman Gill,Retained,BATSMAN,0.0,0,GT
16,Hardik Pandya,Retained,ALL-ROUNDER,0.0,0,GT
17,B. Sai Sudharsan,Retained,ALL-ROUNDER,0.0,0,GT
18,Alzarri Joseph,Retained,BOWLER,0.0,0,GT
19,Abhinav Sadarangani,Retained,BATSMAN,0.0,0,GT
20,Darshan Nalkande,Retained,ALL-ROUNDER,0.0,0,GT
21,David Miller,Retained,BATSMAN,0.0,0,GT
22,Matthew Wade,Retained,WICKETKEEPER,0.0,0,GT
23,Jayant Yadav,Retained,ALL-ROUNDER,0.0,0,GT
24,Mohammad Shami,Retained,BOWLER,0.0,0,GT

In [37]:
gujarat_titans=initial[1]
gujarat_titans["Team"]="Gujarat Titans"
gujarat_titans.rename(columns={"2023 Squad GT":"Player"},inplace=True)
gujarat_titans.head(2)

,Player,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2022 Squad,Team
0,Shivam Mavi,4000000,BOWLER,6.0,720,KKR,Gujarat Titans
1,Joshua Little,5000000,BOWLER,4.4,528,NaN,Gujarat Titans

Creating Chennai Super Kings Dataframe

In [38]:
initial[2]

,2023 Squad CSK,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2022 Squad
0,Ben Stokes,20000000,ALL-ROUNDER,16.25,1950,NaN
1,Kyle Jamieson,10000000,BOWLER,1.00,120,NaN
2,Nishant Sindhu,2000000,ALL-ROUNDER,0.60,72,NaN
3,Ajinkya Rahane,5000000,BATSMAN,0.50,60,KKR
4,Bhagath Varma,2000000,ALL-ROUNDER,0.20,24,CSK
5,Ajay Mandal,2000000,ALL-ROUNDER,0.20,24,NaN
6,Shaik Rasheed,2000000,BATSMAN,0.20,24,NaN
7,Ravindra Jadeja,Retained,ALL-ROUNDER,0.00,0,CSK
8,Rajvardhan Hangargekar,Retained,ALL-ROUNDER,0.00,0,CSK
9,Prashant Solanki,Retained,BOWLER,0.00,0,CSK
10,Ruturaj Gaikwad,Retained,BATSMAN,0.00,0,CSK
11,Tushar Deshpande,Retained,BOWLER,0.00,0,CSK
12,Mukesh Choudhary,Retained,BOWLER,0.00,0,CSK
13,Subhranshu Senapati,Retained,BATSMAN,0.00,0,CSK
14,Simarjeet Singh,Retained,BOWLER,0.00,0,CSK
15,Shivam Dube,Retained,ALL-ROUNDER,0.00,0,CSK
16,Matheesha Pathirana,Retained,BOWLER,0.00,0,CSK
17,Devon Conway,Retained,BATSMAN,0.00,0,CSK
18,Deepak Chahar,Retained,BOWLER,0.00,0,CSK
19,Ambati Rayudu,Retained,BATSMAN,0.00,0,CSK
20,Dwaine Pretorius,Retained,ALL-ROUNDER,0.00,0,CSK
21,Maheesh Theekshana,Retained,BOWLER,0.00,0,CSK
22,Moeen Ali,Retained,ALL-ROUNDER,0.00,0,CSK
23,Mitchell Santner,Retained,ALL-ROUNDER,0.00,0,CSK
24,MS Dhoni,Retained,WICKETKEEPER,0.00,0,CSK

In [39]:
csk=initial[2]
csk["Team"]="Chennai Super Kings"
csk.rename(columns={"2023 Squad CSK":"Player"},inplace=True)
#Appending into 1 Dataframe
final=gujarat_titans.append(csk,ignore_index=True)
final

,Player,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2022 Squad,Team
0,Shivam Mavi,4000000,BOWLER,6.00,720,KKR,Gujarat Titans
1,Joshua Little,5000000,BOWLER,4.40,528,NaN,Gujarat Titans
2,Kane Williamson,20000000,BATSMAN,2.00,240,SRH,Gujarat Titans
3,K.S. Bharat,2000000,WICKETKEEPER,1.20,144,DC,Gujarat Titans
4,Mohit Sharma,5000000,BOWLER,0.50,60,NaN,Gujarat Titans
5,Odean Smith,5000000,ALL-ROUNDER,0.50,60,PBKS,Gujarat Titans
6,Urvil Patel,2000000,WICKETKEEPER,0.20,24,NaN,Gujarat Titans
7,Rahul Tewatia,Retained,ALL-ROUNDER,0.00,0,GT,Gujarat Titans
8,Pradeep Sangwan,Retained,ALL-ROUNDER,0.00,0,GT,Gujarat Titans
9,Rashid Khan,Retained,BOWLER,0.00,0,GT,Gujarat Titans
10,R. Sai Kishore,Retained,BOWLER,0.00,0,GT,Gujarat Titans
11,Yash Dayal,Retained,BOWLER,0.00,0,GT,Gujarat Titans
12,Noor Ahmad,Retained,BOWLER,0.00,0,GT,Gujarat Titans
13,Wriddhiman Saha,Retained,WICKETKEEPER,0.00,0,GT,Gujarat Titans
14,Vijay Shankar,Retained,ALL-ROUNDER,0.00,0,GT,Gujarat Titans
15,Shubman Gill,Retained,BATSMAN,0.00,0,GT,Gujarat Titans
16,Hardik Pandya,Retained,ALL-ROUNDER,0.00,0,GT,Gujarat Titans
17,B. Sai Sudharsan,Retained,ALL-ROUNDER,0.00,0,GT,Gujarat Titans
18,Alzarri Joseph,Retained,BOWLER,0.00,0,GT,Gujarat Titans
19,Abhinav Sadarangani,Retained,BATSMAN,0.00,0,GT,Gujarat Titans
20,Darshan Nalkande,Retained,ALL-ROUNDER,0.00,0,GT,Gujarat Titans
21,David Miller,Retained,BATSMAN,0.00,0,GT,Gujarat Titans
22,Matthew Wade,Retained,WICKETKEEPER,0.00,0,GT,Gujarat Titans
23,Jayant Yadav,Retained,ALL-ROUNDER,0.00,0,GT,Gujarat Titans
24,Mohammad Shami,Retained,BOWLER,0.00,0,GT,Gujarat Titans
25,Ben Stokes,20000000,ALL-ROUNDER,16.25,1950,NaN,Chennai Super Kings
26,Kyle Jamieson,10000000,BOWLER,1.00,120,NaN,Chennai Super Kings
27,Nishant Sindhu,2000000,ALL-ROUNDER,0.60,72,NaN,Chennai Super Kings
28,Ajinkya Rahane,5000000,BATSMAN,0.50,60,KKR,Chennai Super Kings
29,Bhagath Varma,2000000,ALL-ROUNDER,0.20,24,CSK,Chennai Super Kings
30,Ajay Mandal,2000000,ALL-ROUNDER,0.20,24,NaN,Chennai Super Kings
31,Shaik Rasheed,2000000,BATSMAN,0.20,24,NaN,Chennai Super Kings
32,Ravindra Jadeja,Retained,ALL-ROUNDER,0.00,0,CSK,Chennai Super Kings
33,Rajvardhan Hangargekar,Retained,ALL-ROUNDER,0.00,0,CSK,Chennai Super Kings
34,Prashant Solanki,Retained,BOWLER,0.00,0,CSK,Chennai Super Kings
35,Ruturaj Gaikwad,Retained,BATSMAN,0.00,0,CSK,Chennai Super Kings
36,Tushar Deshpande,Retained,BOWLER,0.00,0,CSK,Chennai Super Kings
37,Mukesh Choudhary,Retained,BOWLER,0.00,0,CSK,Chennai Super Kings
38,Subhranshu Senapati,Retained,BATSMAN,0.00,0,CSK,Chennai Super Kings
39,Simarjeet Singh,Retained,BOWLER,0.00,0,CSK,Chennai Super Kings
40,Shivam Dube,Retained,ALL-ROUNDER,0.00,0,CSK,Chennai Super Kings
41,Matheesha Pathirana,Retained,BOWLER,0.00,0,CSK,Chennai Super Kings
42,Devon Conway,Retained,BATSMAN,0.00,0,CSK,Chennai Super Kings
43,Deepak Chahar,Retained,BOWLER,0.00,0,CSK,Chennai Super Kings
44,Ambati Rayudu,Retained,BATSMAN,0.00,0,CSK,Chennai Super Kings
45,Dwaine Pretorius,Retained,ALL-ROUNDER,0.00,0,CSK,Chennai Super Kings
46,Maheesh Theekshana,Retained,BOWLER,0.00,0,CSK,Chennai Super Kings
47,Moeen Ali,Retained,ALL-ROUNDER,0.00,0,CSK,Chennai Super Kings
48,Mitchell Santner,Retained,ALL-ROUNDER,0.00,0,CSK,Chennai Super Kings
49,MS Dhoni,Retained,WICKETKEEPER,0.00,0,CSK,Chennai Super Kings

Creating Delhi Capitals Dataframe

In [40]:
initial[3]

,2023 Squad DC,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2022 Squad
0,Mukesh Kumar,2000000,BOWLER,5.5,660,NaN
1,Rilee Rossouw,20000000,BATSMAN,4.6,552,NaN
2,Manish Pandey,10000000,BATSMAN,2.4,288,LSG
3,Phil Salt,20000000,WICKETKEEPER,2.0,240,NaN
4,Ishant Sharma,5000000,BOWLER,0.5,60,NaN
5,Ripal Patel,Retained,ALL-ROUNDER,0.0,0,DC
6,Pravin Dubey,Retained,ALL-ROUNDER,0.0,0,DC
7,Rishabh Pant,Retained,WICKETKEEPER,0.0,0,DC
8,Prithvi Shaw,Retained,BATSMAN,0.0,0,DC
9,Syed Khaleel Ahmed,Retained,BOWLER,0.0,0,DC
10,Yash Dhull,Retained,ALL-ROUNDER,0.0,0,DC
11,Vicky Ostwal,Retained,ALL-ROUNDER,0.0,0,DC
12,Mustafizur Rahman,Retained,BOWLER,0.0,0,DC
13,Sarfaraz Khan,Retained,ALL-ROUNDER,0.0,0,DC
14,Rovman Powell,Retained,BATSMAN,0.0,0,DC
15,Lalit Yadav,Retained,ALL-ROUNDER,0.0,0,DC
16,Axar Patel,Retained,ALL-ROUNDER,0.0,0,DC
17,Anrich Nortje,Retained,BOWLER,0.0,0,DC
18,Aman Khan (T),Retained,ALL-ROUNDER,0.0,0,DC
19,Chetan Sakariya,Retained,BOWLER,0.0,0,DC
20,David Warner,Retained,BATSMAN,0.0,0,DC
21,Lungisani Ngidi,Retained,BOWLER,0.0,0,DC
22,Kuldeep Yadav,Retained,BOWLER,0.0,0,DC
23,Kamlesh Nagarkoti,Retained,ALL-ROUNDER,0.0,0,DC
24,Mitchell Marsh,Retained,ALL-ROUNDER,0.0,0,DC

In [41]:
dc=initial[3]
dc["Team"]="Delhi Capitals"
dc.rename(columns={"2023 Squad DC":"Player"},inplace=True)
#Appending into 1 Dataframe
final=final.append(dc,ignore_index=True)
final.head()

,Player,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2022 Squad,Team
0,Shivam Mavi,4000000,BOWLER,6.0,720,KKR,Gujarat Titans
1,Joshua Little,5000000,BOWLER,4.4,528,NaN,Gujarat Titans
2,Kane Williamson,20000000,BATSMAN,2.0,240,SRH,Gujarat Titans
3,K.S. Bharat,2000000,WICKETKEEPER,1.2,144,DC,Gujarat Titans
4,Mohit Sharma,5000000,BOWLER,0.5,60,NaN,Gujarat Titans

Creating Kolkata Knight Riders Dataframe

In [32]:
initial[4]

,2023 Squad KKR,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2022 Squad
0,Shakib Al Hasan,1500000,ALL-ROUNDER,1.5,180,NaN
1,David Wiese,10000000,ALL-ROUNDER,1.0,120,NaN
2,N. Jagadeesan,2000000,WICKETKEEPER,0.9,108,CSK
3,Vaibhav Arora,2000000,BOWLER,0.6,72,PBKS
4,Litton Das,5000000,WICKETKEEPER,0.5,60,NaN
5,Mandeep Singh,5000000,BATSMAN,0.5,60,DC
6,Kulwant Khejroliya,2000000,BOWLER,0.2,24,NaN
7,Suyash Sharma,2000000,BOWLER,0.2,24,NaN
8,Sunil Narine,Retained,BOWLER,0.0,0,KKR
9,Shreyas Iyer,Retained,BATSMAN,0.0,0,KKR
10,Tim Southee,Retained,BOWLER,0.0,0,KKR
11,Umesh Yadav,Retained,BOWLER,0.0,0,KKR
12,Varun Chakaravarthy,Retained,BOWLER,0.0,0,KKR
13,Shardul Thakur (T),Retained,BOWLER,0.0,0,KKR
14,Venkatesh Iyer,Retained,ALL-ROUNDER,0.0,0,KKR
15,Harshit Rana,Retained,BOWLER,0.0,0,KKR
16,Anukul Roy,Retained,ALL-ROUNDER,0.0,0,KKR
17,Andre Russell,Retained,ALL-ROUNDER,0.0,0,KKR
18,Lockie Ferguson (T),Retained,BOWLER,0.0,0,KKR
19,Nitish Rana,Retained,ALL-ROUNDER,0.0,0,KKR
20,Rahmanullah Gurbaz (T),Retained,WICKETKEEPER,0.0,0,KKR
21,Rinku Singh,Retained,BATSMAN,0.0,0,KKR

In [42]:
kkr=initial[4]
kkr["Team"]="Kolkata Knight Riders"
kkr.rename(columns={"2023 Squad KKR":"Player"},inplace=True)
#Appending into 1 Dataframe
final=final.append(kkr,ignore_index=True)
final.head(2)

,Player,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2022 Squad,Team
0,Shivam Mavi,4000000,BOWLER,6.0,720,KKR,Gujarat Titans
1,Joshua Little,5000000,BOWLER,4.4,528,NaN,Gujarat Titans

In [43]:
final.shape

(97, 7)

Creating Punjab Kings Dataframe

In [44]:
initial[5]

,2023 Squad PBKS,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2022 Squad
0,Sam Curran,20000000,ALL-ROUNDER,18.5,2220,NaN
1,Sikandar Raza,5000000,ALL-ROUNDER,0.5,60,NaN
2,Harpreet Bhatia,2000000,BATSMAN,0.4,48,NaN
3,Mohit Rathee,2000000,ALL-ROUNDER,0.2,24,NaN
4,Vidwath Kaverappa,2000000,BOWLER,0.2,24,NaN
5,Shivam Singh,5000000,WICKETKEEPER,0.2,24,NaN
6,Liam Livingstone,Retained,ALL-ROUNDER,0.0,0,PBKS
7,Baltej Singh Dhanda,Retained,BOWLER,0.0,0,PBKS
8,Atharva Taide,Retained,ALL-ROUNDER,0.0,0,PBKS
9,Bhanuka Rajapakse,Retained,BATSMAN,0.0,0,PBKS
10,Jitesh Sharma,Retained,WICKETKEEPER,0.0,0,PBKS
11,Nathan Ellis,Retained,BOWLER,0.0,0,PBKS
12,Jonny Bairstow,Retained,WICKETKEEPER,0.0,0,PBKS
13,Kagiso Rabada,Retained,BOWLER,0.0,0,PBKS
14,Harpreet Brar,Retained,ALL-ROUNDER,0.0,0,PBKS
15,Shahrukh Khan,Retained,ALL-ROUNDER,0.0,0,PBKS
16,Shikhar Dhawan,Retained,BATSMAN,0.0,0,PBKS
17,Rahul Chahar,Retained,BOWLER,0.0,0,PBKS
18,Arshdeep Singh,Retained,BOWLER,0.0,0,PBKS
19,Prabhsimran Singh,Retained,WICKETKEEPER,0.0,0,PBKS
20,Raj Angad Bawa,Retained,ALL-ROUNDER,0.0,0,PBKS
21,Rishi Dhawan,Retained,ALL-ROUNDER,0.0,0,PBKS

In [45]:
pbks=initial[5]
pbks["Team"]="Punjab Kings"
pbks.rename(columns={"2023 Squad PBKS":"Player"},inplace=True)
#Appending into 1 Dataframe
final=final.append(pbks,ignore_index=True)
final.head(2)

,Player,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2022 Squad,Team
0,Shivam Mavi,4000000,BOWLER,6.0,720,KKR,Gujarat Titans
1,Joshua Little,5000000,BOWLER,4.4,528,NaN,Gujarat Titans

Creating Lucknow Super Giants Dataframe

In [46]:
initial[6]

,2023 Squad LSG,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2022 Squad
0,Nicholas Pooran,20000000,WICKETKEEPER,16.00,1920,SRH
1,Daniel Sams,7500000,ALL-ROUNDER,0.75,90,MI
2,Jaydev Unadkat,5000000,BOWLER,0.50,60,MI
3,Naveen Ul Haq,5000000,BOWLER,0.50,60,NaN
4,Amit Mishra,5000000,BOWLER,0.50,60,NaN
5,Romario Shepherd,5000000,ALL-ROUNDER,0.50,60,SRH
6,Yash Thakur,2000000,BOWLER,0.45,54,NaN
7,Swapnil Singh,2000000,ALL-ROUNDER,0.20,24,NaN
8,Yudhvir Charak,2000000,ALL-ROUNDER,0.20,24,NaN
9,Prerak Mankad,2000000,ALL-ROUNDER,0.20,24,PBKS
10,Mark Wood,Retained,BOWLER,0.00,0,LSG
11,Marcus Stoinis,Retained,ALL-ROUNDER,0.00,0,LSG
12,Mayank Yadav,Retained,BOWLER,0.00,0,LSG
13,Mohsin Khan,Retained,BOWLER,0.00,0,LSG
14,Quinton De Kock,Retained,WICKETKEEPER,0.00,0,LSG
15,Manan Vohra,Retained,BATSMAN,0.00,0,LSG
16,Ravi Bishnoi,Retained,BOWLER,0.00,0,LSG
17,Deepak Hooda,Retained,ALL-ROUNDER,0.00,0,LSG
18,Ayush Badoni,Retained,ALL-ROUNDER,0.00,0,LSG
19,Avesh Khan,Retained,BOWLER,0.00,0,LSG
20,K. Gowtham,Retained,ALL-ROUNDER,0.00,0,LSG
21,Karan Sharma,Retained,ALL-ROUNDER,0.00,0,LSG
22,Krunal Pandya,Retained,ALL-ROUNDER,0.00,0,LSG
23,KL Rahul,Retained,BATSMAN,0.00,0,LSG
24,Kyle Mayers,Retained,ALL-ROUNDER,0.00,0,LSG

In [47]:
lsg=initial[6]
lsg["Team"]="Lucknow Super Giants"
lsg.rename(columns={"2023 Squad LSG":"Player"},inplace=True)
#Appending into 1 Dataframe
final=final.append(lsg,ignore_index=True)
final.head(2)

,Player,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2022 Squad,Team
0,Shivam Mavi,4000000,BOWLER,6.0,720,KKR,Gujarat Titans
1,Joshua Little,5000000,BOWLER,4.4,528,NaN,Gujarat Titans

Creating Mumbai Indians Dataframe

In [48]:
initial[7]

,2023 Squad MI,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2022 Squad
0,Cameron Green,20000000,ALL-ROUNDER,17.5,2100,NaN
1,Jhye Richardson,1500000,BOWLER,1.5,180,NaN
2,Piyush Chawla,5000000,BOWLER,0.5,60,NaN
3,Raghav Goyal,2000000,BOWLER,0.2,24,NaN
4,Shams Mulani,2000000,ALL-ROUNDER,0.2,24,NaN
5,Nehal Wadhera,2000000,ALL-ROUNDER,0.2,24,NaN
6,Vishnu Vinod,2000000,WICKETKEEPER,0.2,24,SRH
7,Duan Jansen,2000000,ALL-ROUNDER,0.2,24,NaN
8,Ramandeep Singh,Retained,ALL-ROUNDER,0.0,0,MI
9,N. Tilak Varma,Retained,ALL-ROUNDER,0.0,0,MI
10,Mohd. Arshad Khan,Retained,ALL-ROUNDER,0.0,0,MI
11,Rohit Sharma,Retained,BATSMAN,0.0,0,MI
12,Suryakumar Yadav,Retained,BATSMAN,0.0,0,MI
13,Kumar Kartikeya Singh,Retained,ALL-ROUNDER,0.0,0,MI
14,Tristan Stubbs*,Retained,WICKETKEEPER,0.0,0,MI
15,Tim David,Retained,ALL-ROUNDER,0.0,0,MI
16,Hrithik Shokeen,Retained,ALL-ROUNDER,0.0,0,MI
17,Arjun Tendulkar,Retained,ALL-ROUNDER,0.0,0,MI
18,Akash Madhwal,Retained,BOWLER,0.0,0,MI
19,Dewald Brevis,Retained,BATSMAN,0.0,0,MI
20,Ishan Kishan,Retained,WICKETKEEPER,0.0,0,MI
21,Jasprit Bumrah,Retained,BOWLER,0.0,0,MI
22,Jason Behrendorff (T),Retained,BOWLER,0.0,0,MI
23,Jofra Archer,Retained,ALL-ROUNDER,0.0,0,MI

In [49]:
mi=initial[7]
mi["Team"]="Mumbai Indians"
mi.rename(columns={"2023 Squad MI":"Player"},inplace=True)
#Appending into 1 Dataframe
final=final.append(mi,ignore_index=True)
final.head(2)

,Player,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2022 Squad,Team
0,Shivam Mavi,4000000,BOWLER,6.0,720,KKR,Gujarat Titans
1,Joshua Little,5000000,BOWLER,4.4,528,NaN,Gujarat Titans

Creating Royal Challengers Bangalore Dataframe

In [50]:
initial[8]

,2023 Squad RCB,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2022 Squad
0,Will Jacks,1500000,BATSMAN,3.2,384,NaN
1,Reece Topley,7500000,BOWLER,1.9,228,NaN
2,Rajan Kumar,2000000,BOWLER,0.7,84,NaN
3,Avinash Singh,2000000,BOWLER,0.6,72,NaN
4,Manoj Bhandage,2000000,ALL-ROUNDER,0.2,24,NaN
5,Sonu Yadav,2000000,ALL-ROUNDER,0.2,24,NaN
6,Himanshu Sharma,2000000,BOWLER,0.2,24,NaN
7,Rajat Patidar,Retained,BATSMAN,0.0,0,RCB
8,Mahipal Lomror,Retained,BOWLER,0.0,0,RCB
9,Shahbaz Ahamad,Retained,ALL-ROUNDER,0.0,0,RCB
10,Mohammed Siraj,Retained,BOWLER,0.0,0,RCB
11,Wanindu Hasaranga,Retained,ALL-ROUNDER,0.0,0,RCB
12,Karn Sharma,Retained,BOWLER,0.0,0,RCB
13,Virat Kohli,Retained,BATSMAN,0.0,0,RCB
14,Suyash Prabhudessai,Retained,ALL-ROUNDER,0.0,0,RCB
15,Siddharth Kaul,Retained,BOWLER,0.0,0,RCB
16,Finn Allen,Retained,BATSMAN,0.0,0,RCB
17,David Willey,Retained,ALL-ROUNDER,0.0,0,RCB
18,Anuj Rawat,Retained,WICKETKEEPER,0.0,0,RCB
19,Akash Deep,Retained,BOWLER,0.0,0,RCB
20,Dinesh Karthik,Retained,WICKETKEEPER,0.0,0,RCB
21,Faf Du Plessis,Retained,BATSMAN,0.0,0,RCB
22,Harshal Patel,Retained,ALL-ROUNDER,0.0,0,RCB
23,Glenn Maxwell,Retained,ALL-ROUNDER,0.0,0,RCB
24,Josh Hazlewood,Retained,BOWLER,0.0,0,RCB

In [51]:
rcb=initial[8]
rcb["Team"]="Royal Challengers Bangalore"
rcb.rename(columns={"2023 Squad RCB":"Player"},inplace=True)
#Appending into 1 Dataframe
final=final.append(rcb,ignore_index=True)
final.head(2)

,Player,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2022 Squad,Team
0,Shivam Mavi,4000000,BOWLER,6.0,720,KKR,Gujarat Titans
1,Joshua Little,5000000,BOWLER,4.4,528,NaN,Gujarat Titans

Creating Rajasthan Royals Dataframe

In [52]:
initial[9]

,2023 Squad RR,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2022 Squad
0,Jason Holder,20000000,ALL-ROUNDER,5.75,690,LSG
1,Adam Zampa,1500000,BOWLER,1.50,180,NaN
2,Joe Root,10000000,BATSMAN,1.00,120,NaN
3,Donovan Ferreira,2000000,WICKETKEEPER,0.50,60,NaN
4,K.M. Asif,3000000,BOWLER,0.30,36,CSK
5,Kunal Rathore,2000000,WICKETKEEPER,0.20,24,NaN
6,Abdul P A,2000000,ALL-ROUNDER,0.20,24,NaN
7,Akash Vashisht,2000000,ALL-ROUNDER,0.20,24,NaN
8,Murugan Ashwin,2000000,BOWLER,0.20,24,MI
9,Sanju Samson,Retained,WICKETKEEPER,0.00,0,RR
10,Riyan Parag,Retained,ALL-ROUNDER,0.00,0,RR
11,R. Ashwin,Retained,ALL-ROUNDER,0.00,0,RR
12,Shimron Hetmyer,Retained,BATSMAN,0.00,0,RR
13,Trent Boult,Retained,BOWLER,0.00,0,RR
14,Prasidh Krishna,Retained,BOWLER,0.00,0,RR
15,Yuzvendra Chahal,Retained,BOWLER,0.00,0,RR
16,Yashasvi Jaiswal,Retained,BATSMAN,0.00,0,RR
17,K.C Cariappa,Retained,BOWLER,0.00,0,RR
18,Dhruv Jurel,Retained,WICKETKEEPER,0.00,0,RR
19,Devdutt Padikkal,Retained,BATSMAN,0.00,0,RR
20,Jos Buttler,Retained,WICKETKEEPER,0.00,0,RR
21,Kuldeep Sen,Retained,BOWLER,0.00,0,RR
22,Navdeep Saini,Retained,BOWLER,0.00,0,RR
23,Kuldip Yadav,Retained,BOWLER,0.00,0,RR
24,Obed Mccoy,Retained,BOWLER,0.00,0,RR

In [53]:
rr=initial[9]
rr["Team"]="Rajasthan Royals"
rr.rename(columns={"2023 Squad RR":"Player"},inplace=True)
#Appending into 1 Dataframe
final=final.append(rr,ignore_index=True)
final

,Player,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2022 Squad,Team
0,Shivam Mavi,4000000,BOWLER,6.0,720,KKR,Gujarat Titans
1,Joshua Little,5000000,BOWLER,4.4,528,NaN,Gujarat Titans
2,Kane Williamson,20000000,BATSMAN,2.0,240,SRH,Gujarat Titans
3,K.S. Bharat,2000000,WICKETKEEPER,1.2,144,DC,Gujarat Titans
4,Mohit Sharma,5000000,BOWLER,0.5,60,NaN,Gujarat Titans
...,...,...,...,...,...,...,...
213,Jos Buttler,Retained,WICKETKEEPER,0.0,0,RR,Rajasthan Royals
214,Kuldeep Sen,Retained,BOWLER,0.0,0,RR,Rajasthan Royals
215,Navdeep Saini,Retained,BOWLER,0.0,0,RR,Rajasthan Royals
216,Kuldip Yadav,Retained,BOWLER,0.0,0,RR,Rajasthan Royals
217,Obed Mccoy,Retained,BOWLER,0.0,0,RR,Rajasthan Royals

Creating Sunrisers Hyderabad Dataframe

In [54]:
initial[10]

,2023 Squad SRH,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2022 Squad
0,Harry Brook,15000000,BATSMAN,13.25,1590,NaN
1,Mayank Agarwal,10000000,BATSMAN,8.25,990,PBKS
2,Heinrich Klaasen,10000000,WICKETKEEPER,5.25,630,NaN
3,Vivrant Sharma,2000000,ALL-ROUNDER,2.60,312,NaN
4,Adil Rashid,20000000,BOWLER,2.00,240,NaN
5,Mayank Dagar,2000000,ALL-ROUNDER,1.80,216,NaN
6,Akeal Hosein,10000000,BOWLER,1.00,120,NaN
7,Mayank Markande,5000000,BOWLER,0.50,60,MI
8,Upendra Singh Yadav,2000000,WICKETKEEPER,0.25,30,NaN
9,Nitish Kumar Reddy,2000000,WICKETKEEPER,0.20,24,NaN
10,Samarth Vyas,2000000,ALL-ROUNDER,0.20,24,NaN
11,Anmolpreet Singh,2000000,BATSMAN,0.20,24,MI
12,Sanvir Singh,2000000,ALL-ROUNDER,0.20,24,NaN
13,Marco Jansen,Retained,ALL-ROUNDER,0.00,0,SRH
14,Rahul Tripathi,Retained,BATSMAN,0.00,0,SRH
15,Umran Malik,Retained,BOWLER,0.00,0,SRH
16,Washington Sundar,Retained,ALL-ROUNDER,0.00,0,SRH
17,Kartik Tyagi,Retained,BOWLER,0.00,0,SRH
18,T. Natarajan,Retained,BOWLER,0.00,0,SRH
19,Fazalhaq Farooqi,Retained,BOWLER,0.00,0,SRH
20,Abdul Samad,Retained,BATSMAN,0.00,0,SRH
21,Abhishek Sharma,Retained,ALL-ROUNDER,0.00,0,SRH
22,Aiden Markram,Retained,BATSMAN,0.00,0,SRH
23,Bhuvneshwar Kumar,Retained,BOWLER,0.00,0,SRH
24,Glenn Phillips,Retained,WICKETKEEPER,0.00,0,SRH

In [55]:
srh=initial[10]
srh["Team"]="Sunrisers Hyderabad"
srh.rename(columns={"2023 Squad SRH":"Player"},inplace=True)
#Appending into 1 Dataframe
final=final.append(srh,ignore_index=True)
final

,Player,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2022 Squad,Team
0,Shivam Mavi,4000000,BOWLER,6.0,720,KKR,Gujarat Titans
1,Joshua Little,5000000,BOWLER,4.4,528,NaN,Gujarat Titans
2,Kane Williamson,20000000,BATSMAN,2.0,240,SRH,Gujarat Titans
3,K.S. Bharat,2000000,WICKETKEEPER,1.2,144,DC,Gujarat Titans
4,Mohit Sharma,5000000,BOWLER,0.5,60,NaN,Gujarat Titans
...,...,...,...,...,...,...,...
238,Abdul Samad,Retained,BATSMAN,0.0,0,SRH,Sunrisers Hyderabad
239,Abhishek Sharma,Retained,ALL-ROUNDER,0.0,0,SRH,Sunrisers Hyderabad
240,Aiden Markram,Retained,BATSMAN,0.0,0,SRH,Sunrisers Hyderabad
241,Bhuvneshwar Kumar,Retained,BOWLER,0.0,0,SRH,Sunrisers Hyderabad
242,Glenn Phillips,Retained,WICKETKEEPER,0.0,0,SRH,Sunrisers Hyderabad

Adding Information of Unsold Players

In [56]:
initial[11]

,Players,TYPE,Base Price IN ₹,Base Price IN $,2022 Squad
0,Tom Banton,WICKETKEEPER,20000000,240000,NaN
1,Kusal Mendis,WICKETKEEPER,5000000,60000,NaN
2,Chris Jordan,BOWLER,20000000,240000,CSK
3,Adam Milne,BOWLER,20000000,240000,CSK
4,Mujeeb Rahman,BOWLER,10000000,120000,NaN
...,...,...,...,...,...
320,Dhruv Patel,ALL-ROUNDER,2000000,24000,NaN
321,Jack Prestwidge,ALL-ROUNDER,2000000,24000,NaN
322,Aditya Sarvate,ALL-ROUNDER,2000000,24000,NaN
323,Sagar Solanki,ALL-ROUNDER,2000000,24000,NaN
324,Prenelan Subrayen,ALL-ROUNDER,2000000,24000,NaN

In [57]:
test=initial[11]

Making Changes to append
We need to make some changes to this dataframe in order to append to the final dataframe

In [70]:
#rename as same as final dataframe
test.rename(columns={"Base Price IN ₹":"Base Price"},inplace=True)

In [60]:
#rename as same as final dataframe
test.rename(columns={"Players":"Player"},inplace=True)

In [62]:
#dropping unwanted column
test.drop("Base Price IN $",axis=1,inplace=True)

In [63]:
#creating new columns with null values as same as final dataframe
test["COST IN ₹ (CR.)"]= np.nan

In [64]:
#creating new columns with null values as same as final dataframe
test["Cost IN $ (000)"]= np.nan

In [65]:
#Adding Team name as Unsold
test["Team"]="Unsold"

In [66]:
final

,Player,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2022 Squad,Team
0,Shivam Mavi,4000000,BOWLER,6.0,720,KKR,Gujarat Titans
1,Joshua Little,5000000,BOWLER,4.4,528,NaN,Gujarat Titans
2,Kane Williamson,20000000,BATSMAN,2.0,240,SRH,Gujarat Titans
3,K.S. Bharat,2000000,WICKETKEEPER,1.2,144,DC,Gujarat Titans
4,Mohit Sharma,5000000,BOWLER,0.5,60,NaN,Gujarat Titans
...,...,...,...,...,...,...,...
238,Abdul Samad,Retained,BATSMAN,0.0,0,SRH,Sunrisers Hyderabad
239,Abhishek Sharma,Retained,ALL-ROUNDER,0.0,0,SRH,Sunrisers Hyderabad
240,Aiden Markram,Retained,BATSMAN,0.0,0,SRH,Sunrisers Hyderabad
241,Bhuvneshwar Kumar,Retained,BOWLER,0.0,0,SRH,Sunrisers Hyderabad
242,Glenn Phillips,Retained,WICKETKEEPER,0.0,0,SRH,Sunrisers Hyderabad

In [67]:
final.columns

Index(['Player', 'Base Price', 'TYPE', 'COST IN ₹ (CR.)', 'Cost IN $ (000)',
       '2022 Squad', 'Team'],
      dtype='object')

In [71]:
#reordering the columns as same as final dataframe
test=test[['Player','Base Price', 'TYPE', 'COST IN ₹ (CR.)', 'Cost IN $ (000)','2022 Squad', 'Team']]

In [72]:
final=final.append(test,ignore_index=True)

In [73]:
final

,Player,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2022 Squad,Team
0,Shivam Mavi,4000000,BOWLER,6.0,720.0,KKR,Gujarat Titans
1,Joshua Little,5000000,BOWLER,4.4,528.0,NaN,Gujarat Titans
2,Kane Williamson,20000000,BATSMAN,2.0,240.0,SRH,Gujarat Titans
3,K.S. Bharat,2000000,WICKETKEEPER,1.2,144.0,DC,Gujarat Titans
4,Mohit Sharma,5000000,BOWLER,0.5,60.0,NaN,Gujarat Titans
...,...,...,...,...,...,...,...
563,Dhruv Patel,2000000,ALL-ROUNDER,NaN,NaN,NaN,Unsold
564,Jack Prestwidge,2000000,ALL-ROUNDER,NaN,NaN,NaN,Unsold
565,Aditya Sarvate,2000000,ALL-ROUNDER,NaN,NaN,NaN,Unsold
566,Sagar Solanki,2000000,ALL-ROUNDER,NaN,NaN,NaN,Unsold
567,Prenelan Subrayen,2000000,ALL-ROUNDER,NaN,NaN,NaN,Unsold

In [75]:
final['COST IN ₹ (CR.)'].nunique()

32

In [76]:
#Exporting the final Dataframe as CSV file

final.to_csv("ipl_2023_dataset.csv")